#myp {
	background-color: #282923;
	color: #ffffff;
	font-size: 20px;
	margin: 15px;
	padding: 15px;
	border: 5px solid black;
	border-radius: 100px;
	box-shadow: 3px 3px 7px #000000;
	text-align: center;
	height: 100px;
	font-size: 50px;
	font-weight: 500;
}

.but {
	border: 5px solid #282923;
	border-radius: 100px;
	font-size: 35px;
	color: #282D33;
	background-color: white;
	width: 8%;
	padding: 7px;
	margin: 3px;
	text-align: center;

}

#gam {
	position: absolute; /* Абсолютное позиционирование */
    bottom: 605px; /* Положение от нижнего края */
    right: 1185px;
    padding: 3px;
}

#sit {
	position: absolute; /* Абсолютное позиционирование */
    bottom: 605px; /* Положение от нижнего края */
    right: 1330px;
    padding: 3px;
}

#sof {
	position: absolute; /* Абсолютное позиционирование */
    bottom: 605px; /* Положение от нижнего края */
    right: 1040px;
    padding: 3px;
}

#con {
	position: absolute; /* Абсолютное позиционирование */
    bottom: 605px; /* Положение от нижнего края */
    right: 900px;
    padding: 3px;
}

.but:hover {
	background-color: #B8F1E4;
}

#tec {
	color: #6799EF;
	position: absolute; /* Абсолютное позиционирование */
    bottom: 733px; /* Положение от нижнего края */
    right: 750px;
}
